
<div class="bg1">

    <div class="container">
      <div class="row">
        <div class="form-group col-lg-5">
          <div class="create_account">
          <h1>Please create an account</h1>
          <%= form_for @user do |f| %>

           <%= f.label :name%>
           <%= f.text_field :name, :class => 'form-control'%>

           <%= f.label :username%>
           <%= f.text_field :username, :class => 'form-control'%>

           <%= f.label :email%>
           <%= f.text_field :email, :class => 'form-control'%>

           <%= f.label :age%>
           <%= f.text_field :age, :class => 'form-control'%>

           <%= f.label :location_name%>
           <%= f.text_field :location_name, :class => 'form-control'%>

           <%= f.label :password%>
           <%= f.password_field :password, :class => 'form-control'%>

           <%= f.label :password_confirmation%>
           <%= f.password_field :password_confirmation, :class => 'form-control'%> <br>

           <%= f.submit :class => 'btn btn-primary' %>
          </div>
        </div>
        <% end %>

          <div class="col-lg-6 login">
              <h1>Already have an account?</h1><br>
              <a class="btn btn-primary" href="/login" role="button">Login here</a>
          </div>
      </div>
    </div>
</div>
