
<!-- Display user profile if buyer display bought items -->

<div class="container">

  <div class="profile_info">
    <img class="profpic" src="/IMG2.jpg" alt="">
    <h2> <%= @user.name.capitalize %></h2>
    <h2> <%= @user.email.capitalize %></h2>
    <h2> <%= @user.location.name %></h2>
  </div>

<% if seller_check = true %>
    <h1 class="center">Your rentals</h1>

    <div class="row">
      <% @user.items.each do |item|%>
      <div class="card right" style="width: 30%;">
        <img class="card-img-top" src="/IMG1.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">
            <%= link_to item.name.capitalize, edit_item_path(item.id) %> <br>
            <%= item.description.capitalize %><br>
            <%= link_to "delete", item_path(item.id), method: :delete%><br>
          </p>
        </div>
      </div>
        <% end %>
    </div>

<% end %>


<% if buyer_check = true %>
    <h1 class="center">Your Reservations</h1>
    <div class="row">
      <% @user.reservations.each do |res|%>
      <div class="card right" style="width: 30%;">
        <img class="card-img-top" src="/IMG1.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">
            <%= link_to res.item.name.capitalize, edit_reservation_path(res.id) %> <br>
            <%= res.item.description.capitalize %> <br>
            <%= link_to "Delete", reservation_path(res.id), method: :delete%> <br>
            <label> Reservation Dates:</label><br>
            <%= res.rent_start.strftime("%B %e, %Y") %> - <%= res.rent_end.strftime("%B %e, %Y") %>
          </p>
        </div>
      </div>
        <% end %>
    </div>

<% end %>

<div class="BREAK"></div>
