
<!-- Display user profile if buyer display bought items -->
<!-- THIS IS A TEST -->

<div class="container">

  <div class="profile_info">
    <img class="profpic" src="/IMG2.jpg" alt="">
    <h2> <%= @user.name.capitalize %></h2>
    <h2> <%= @user.email.capitalize %></h2>
    <h2> <%= @user.location.name %></h2>
    <%= link_to "Edit Account", edit_user_path %>
  </div>

<% if seller_check = true %>
    <h1 class="center">Your rentals</h1>

    <div class="row">
      <% @user.items.each do |item|%>
      <div class="card right" style="width: 30%;">
        <img class="card-img-top" src="<%=item.image_grabber %>" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">
            <%= item.name.capitalize %> <br>
            <%= link_to "Edit Item", edit_item_path(item.id) %> <br>
            <%= link_to "All Reservations", item_reservations_path(item.id) %><br>
            <%= link_to "Delete this Item", item_path(item.id), method: :delete%><br>
          </p>
        </div>
      </div>
        <% end %>
    </div>

<% end %>


<% if buyer_check = true %>
    <h1 class="center">Your Reservations</h1>
    <div class="row">
      <% @user.reservations.each do |res|%>
      <div class="card right" style="width: 30%;">
        <img class="card-img-top" src="<%= res.item.image_grabber %>" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">
            <%= link_to res.item.name.capitalize, edit_reservation_path(res.id) %> <br>
            <%= res.item.description.capitalize %> <br>
            <%= "Reservation Dates:" %> <br>
            <%= res.format_rent_start %> - <%= res.format_rent_end %> <br>
            <%= link_to "Delete this Reservation", reservation_path(res.id), method: :delete%> <br>
          </p>
        </div>
      </div>
        <% end %>
    </div>

<% end %>

<div class="BREAK"></div>
