<!-- Display user profile if buyer display bought items
  user.rentals
-->
<br>
  <%= form_tag items_available_path, method: "get" do%>
    <%= select_tag :category, options_for_select(Item.all_categories.unshift("All Categories")), :prompt => "Filter By Category" %>
    <%= submit_tag "Filter Search" %>
  <% end %>

  <div class="container">
      <div class="row">
        <% @items.each do |item|%>
        <div class="card right" style="width: 30%;">
          <img class="card-img-top" src="/IMG1.jpg" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">
            <%= link_to item.name, item_path(item.id) %> 
            <%= item.description %>
           </p>
          </div>
        </div>
        <% end %>
      </div>
  </div>
